/*
Colors used:
Primary Color (Purple): #853cff;
Secondary Color (Light Purple): #efddff;
Background (Light Grey): #f2f2f2;
Text (Black);
Hover (Blue): #17ddcd;
*/

body {
  background-color: #ffffff;
  font-family: 'Lato', roboto;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.5; /* Sets the line-height to 1.6 * the font-size */
  color: #black;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 3.052em;
  font-weight: 500;
}

h2 {
  font-size: 2.441em;
  font-weight: 500;
}

h3 {
  font-size: 1.953em;
  font-weight: 500;
}
h4 {
  font-size: 1.563em;
  font-weight: 500;
}
h5 {
  font-size: 1em;
  font-weight: 400;
}
button {
  font-size: 1em;
  font-weight: 400;
}
img {
  width: 100%;
}
footer{
  background-color:#853cff
}
a {
  color: #853cff;
  text-decoration: none;
}
a:hover {
  color: #17ddcd;
  text-decoration: underline;
}
a:visited {
  color: #853cff;
}
a:hover {
  color: #17ddcd;
  text-decoration: underline;
}
a:active {
  color: #853cff;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #17ddcd;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #853cff;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  border-color: #853cff;
  border-bottom: 2px solid #853cff;
  border-top: 2px solid #853cff;
  border-left: 2px solid #853cff;
  border-right: 2px solid #853cff;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  color: #ffffff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button:visited {
  color: #ffffff;
}
.button:hover {
  color: #ffffff;
  text-decoration: none;
}
.button:active {
  opacity: 0.8;
  color: #efddff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button:hover,
.button:focus {
  color: #ffffff;
  text-decoration: none;
}
.button-secondary {
  display: inline-block;
  background-color: #ffffff;
  color: #853cff;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  border-color: #853cff;
  border-bottom: 2px solid #853cff;
  border-top: 2px solid #853cff;
  border-left: 2px solid #853cff;
  border-right: 2px solid #853cff;
  transition: 0.2s opacity;
}
.button-secondary:hover {
  opacity: 0.8;
  background-color: #ffffff;
  color: #853cff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button-secondary:visited {
  color: #853cff;
}
.button-secondary:hover {
  opacity: 0.8;
  background-color: #ffffff;
  color: #853cff;
  text-decoration: none;
}
.button-secondary:active {
  opacity: 0.8;
  background-color: #ffffff;
  color: #853cff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button-secondary:hover,
.button-secondary:focus {
  color: #853cff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.links {
  color: #ffffff;
  font-weight: 400;
}
.links:visited {
  color: #ffffff;
}
.links:hover {
  color: #17ddcd;
  text-decoration: underline;
}
.links:hover {
  color: #17ddcd;
  text-decoration: underline;
}
.links:active {
  color: #ffffff;
  text-decoration: none;
}
.links:hover,
.links:focus {
  color: #ffffff;
  text-decoration: none;
}
