/*
Colors used:
Primary Color (Purple): #853cff;
Secondary Color (Light Purple): #efddff;
Background (Light Grey): #f2f2f2;
Text (Black);
Hover (Blue): #17ddcd;
*/

* {
  box-sizing: border-box;
}
header {
  background-color: white;
  padding: 16px 16px;
  border-bottom: 2px solid #4a4a4a;
  position: fixed;
  width: 100%;
  box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.5);
}
body {
  background-color: white;
  font-family: 'Lato', roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #black;
}
h1, h2, h3, h4 {
  line-height: 1.25;
  margin: 0
}
h1 {
  font-size: 3.052em;
  font-weight: 500;
  padding: 16px 0px 16px 0px;
}

h2 {
  font-size: 2.441em;
  font-weight: 500;
  padding: 0px 0px 16px 0px;
}

h3 {
  font-size: 1.953em;
  font-weight: 500;
  padding: 0px 0px 8px 0px;
}
h4 {
  font-size: 1.25em;
  font-weight: 400;
  color: #853cff
}
h5 {
  font-size: 1em;
  font-weight: 400;
}
button {
  font-size: 1em;
  font-weight: 400;
}
img {
  width: 100%;
}
video {
  width: 100%;
}
picture {
  width: 100%
}
footer{
  background-color:#853cff
}
.hero {
  padding-top: 70px;
}
a {
  color: #853cff;
  text-decoration: none;
}
a:hover {
  color: #17ddcd;
  text-decoration: underline;
}
a:visited {
  color: #853cff;
}
a:hover {
  color: #17ddcd;
  text-decoration: underline;
}
a:active {
  color: #853cff;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #17ddcd;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #853cff;
  color: white;
  font-weight: 400;
  padding: 8px;
  border-radius: 4px;
  border-color: #853cff;
  border-bottom: 2px solid #853cff;
  border-top: 2px solid #853cff;
  border-left: 2px solid #853cff;
  border-right: 2px solid #853cff;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button:visited {
  color: white;
}
.button:hover {
  color: white;
  text-decoration: none;
}
.button:active {
  opacity: 0.8;
  color: #efddff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button:hover,
.button:focus {
  color: white;
  text-decoration: none;
}
.button-secondary {
  display: inline-block;
  background-color: white;
  color: #853cff;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  border-color: #853cff;
  border-bottom: 2px solid #853cff;
  border-top: 2px solid #853cff;
  border-left: 2px solid #853cff;
  border-right: 2px solid #853cff;
  transition: 0.2s opacity;
}
.button-secondary:hover {
  opacity: 0.8;
  background-color: white;
  color: #853cff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button-secondary:visited {
  color: #853cff;
}
.button-secondary:hover {
  opacity: 0.8;
  background-color: white;
  color: #853cff;
  text-decoration: none;
}
.button-secondary:active {
  opacity: 0.8;
  background-color: white;
  color: #853cff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button-secondary:hover,
.button-secondary:focus {
  color: #853cff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.links {
  color: white;
  font-weight: 400;
}
.links:visited {
  color: white;
}
.links:hover {
  color: #17ddcd;
  text-decoration: underline;
}
.links:hover {
  color: #17ddcd;
  text-decoration: underline;
}
.links:active {
  color: white;
  text-decoration: none;
}
.links:hover,
.links:focus {
  color: white;
  text-decoration: none;
}
nav {
  font-size: 1em;
  width: 100%
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0px;
}
nav > ul > li > a {
  padding: 0px 16px;
  font-weight: 500;
  color: #4a4a4a;
}
.header_container {
  max-width: 100%;
  }
}
#footer nav {
  color: white;
}
#footer {
  color: white;
  text-align: center;
}
.links {
  font-size: 1em;
  display: inline-block;
  max-width: 100%
}
.chips > ul {
  list-style-type: none;
  padding-top: 8px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin: 0px;
}
.chips > ul > li {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  border-radius: 32px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  max-width: 100%;
  margin: 4px;
}
.chips > ul > li > p{
  margin: 0px;
  padding: 12px 10px;
}
.double_buttons > ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.double_buttons > ul > li {
  display: inline-block;
  padding: 8px;
  text-align: center;
}
#footer .double_buttons > ul > li {
  padding: 0px 8px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
picture .persona{
  max-height: 96px;
  width: auto;
}
.headshot img{
  max-width: 50%;
  width: auto;
  border-radius: 100%;
}
#accessibility img {
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}
#branding img {
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 20%);
}

/* Layout styling */
.logo {
  max-width: 100%;
  font-size: 1.5em;
  font-weight: 500;
  color: #853cff;
}
#key_features .icon {
  text-align: center;
}
#tools .icon {
  float: left;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
.container {
  padding: 24px 16px;
  max-width: 100%;
}
#hero_home {
  background-color: #efddff;
  text-align: center;
}
#hero h1 {
  text-align: center;
  margin: 0;
}
#hero p {
  text-align: center;
}
#work h2 {
  text-align: center;
}
#related_case_studies h2 {
  text-align: center;
}
.center {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
.copyright {
  text-align: center;
  color: white;
}
.chip {
  display: inline-block;
  padding: 10px;
  border-radius: 32px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  text-align: center;
  margin: 4px 0px;
}
.card {
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  box-shadow: 0px 0px 20px 0px rgb(221 221 221 / 50%);
  margin: 8px 0px;
  max-width: 100%;
}
.groove_ux_card {
  padding: 16px;
  background-color: #efddff;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #853cff;
  box-shadow: 0px 0px 20px 0px rgb(221 221 221 / 50%);
  margin: 8px 0px;
}
.project_card {
  padding: 16px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  box-shadow: 0px 0px 20px 0px rgb(221 221 221 / 50%);
  margin: 8px 0px;
}
.project_card:hover {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #853cff;
  box-shadow: 2px 2px 8px darkgrey;
}
#key_features .container {
  width: 100%
}
#key_features .card p{
  text-align: center;
}
#hero .button {
  display: inline-block;
}
#hero .button_secondary {
  display: inline-block;
}
#scope {
  background-color: #f2f2f2;
}
#key_features {
  background-color: #f2f2f2;
}
#design_process {
  background-color: #f2f2f2;
}
#accessibility {
  background-color: #f2f2f2;
}
#branding .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu_icon {
  color: #853cff;
}
.navtoggle li:not(:last-child) {
display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .menu_icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #f2f2f2;
  text-align: right;
}
.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

/* animation */
@keyframes color-change {
  0% {fill: #ff0d6a;}
  50% {fill: #f76414;}
  100% {fill: #fcffad;}
}
.cls-3 {
animation: 4s color-change infinite alternate linear;
}
@keyframes plane-move {
  from {transform: translate(200px,10px);}
   to {transform: translate(10px,0px);}
}
.cls-61 {
    animation-duration: 10s;
    animation-name: plane-move;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function:cubic-bezier();
  }
}



@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  padding: 16px 32px;
  }
  nav {
    width: auto;
    float: right;
  }
  header > nav > ul {
    magin: 0px;
  }
  nav > ul > li {
    display: inline-block;
  }
  .header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    margin-bottom: 0px;
    margin-right: 8px;
  }
  body {
    font-size: 18px
  }
  #hero_home {
    text-align: center;
    display: block;
  }
  #hero_home span{
    text-align: center;
    display: block;
  }
  #hero {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #hero span{
    text-align: center;
    display: block;
  }
  .container {
    padding: 32px 24px;
    display: inline-block;
  }
  #work h2 {
    text-align: left;
  }
  .col-md-8 {
  width: 66.66%;
  }
  .col-md-6 {
  width: 50%;
  }
  .col-md-4 {
  width: 33.33%;
  }
  #about .col-md-8 {
  width: 100%;
  }
  #about .col-md-4 {
  width: 100%;
  }
  #skills-secondary .col-md-4 {
  width: 100%;
  }
  #research .col-md-8 {
  width: 100%;
  }
  #research .col-md-4 {
  width: 100%;
  }
  #personas .col-md-6 {
  width: 100%;
  }
  #personas .col-md-6 {
  width: 100%;
  }
  #branding .col-md-4 {
  width: 33.33%;
  }
  #projects .col-md-3 {
    width: 100%;
  }
  [class*="col-"] {
    float: left;
    padding: 0px 4px;
  }
  .row_for_columns::after {
  content: "";
  clear: both;
  display: table;
  }
  picture .persona {
    max-height: 150px;
    width: auto;
  }
  .center {
    text-align: center;
    padding: 16px;
    display: inline-block;
  }
  #card_col {
    display: inline-block;
  }
  .column8 {
    float: left;
    width: 60%;
    padding: 8px;
    height: 100%;
  }
  .column6 {
    float: left;
    width: 50%;
    padding: 8px;
    height: 100%;
  }
  .column4 {
    float: left;
    width: 40%;
    padding: 8px;
    height: 100%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #accessibility {
    display: inline-block;
  }
  #accessibility .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #accessibility .col-md-6 {
    padding: 0px;
    text-align: center;
  }
  #accessibility .center {
    padding: 0px;
  }
  #accessibility .center p {
    margin: 0px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 1024px) {
  header {
  text-align: unset;
  padding: 16px 32px;
  }
  nav > ul > li {
    display: inline-block;
    font-size: 24px;
  }
  #header nav > ul > li > a{
    margin-left: 8px;
  }
  header > nav > ul {
    magin: 1em 0px;
  }
  nav {
    width: auto;
    float: right;
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
  }
  .navtoggle li:last-child {
  display: none;
  }
  .header_container {
    width: auto;
  }
  .logo {
    margin-bottom: 0px;
    margin-right: 16px;
  }
  body {
    font-size: 24px
  }
  #hero_home {
    text-align: center;
    display: block;
  }
  #hero_home span{
    text-align: center;
    display: block;
  }
  #hero {
    text-align: center;
    display: block;
  }
  #hero span{
    text-align: center;
    display: block;
  }
  .container {
    padding: 40px 32px;
    display: inline-block;
  }
  #work h2 {
    text-align: left;
  }
  .col-md-8 {
  width: 66.66%;
  }
  .col-md-7 {
  width: 41.66%;
  }
  .col-md-6 {
  width: 50%;
  }
  .col-md-5 {
  width: 58.33%;
  }
  .col-md-4 {
  width: 33.33%;
  }
  .col-md-3 {
  width: 25%;
  }
  #about .col-md-8 {
  width: 66.66%;
  }
  #about .col-md-4 {
  width: 33.33%;
  }
  #skills-secondary .col-md-4 {
  width: 100%;
  }
  #research .col-md-8 {
  width: 100%;
  }
  #research .col-md-4 {
  width: 100%;
  }
  #personas .col-md-5 {
  width: 100%;
  }
  #personas .col-md-6 {
  width: 50%;
  }
  #branding .col-md-4 {
  width: 33.33%;
  }
  #projects .col-md-3 {
    width: 100%;
  }
  [class*="col-"] {
    float: left;
    padding: 0px 8px;
  }
  .row_for_columns::after {
    content: "";
    clear: both;
    display: table;
  }
  picture .persona {
    max-height: 166px;
    width: auto;
  }
  .center {
    padding: 16px;
    text-align: center;
    display: inline-block;
  }
  #card_col {
    display: inline-block;
  }
  .card {
    padding: 24px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #f2f2f2;
    box-shadow: 0px 0px 20px 0px rgb(221 221 221 / 50%);
  }
  .column6 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
  }
  .column8 {
    float: left;
    width: 60%;
    padding: 10px;
    height: 100%;
  }
  .column4 {
    float: left;
    width: 40%;
    padding: 10px;
    height: 100%;
  }
  #accessibility .column6 {
    float: left;
    width: 50%;
    padding: 48px 8px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #accessibility {
    display: inline-block;
  }
  #accessibility .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #accessibility .col-md-6 {
    padding: 0px;
    text-align: center;
  }
  #accessibility .center {
    padding: 0px;
  }
  #accessibility .center p {
    margin: 0px;
    font-weight: 500;
  }
  #about .double_buttons {
    align-items: left;
  }
  #about .double_buttons > ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
  }
  #about .double_buttons > ul > li {
    display: inline-block;
    padding: 8px;
    text-align: center;
  }
  #personas .col-md-5 {
    margin: 0px;
    padding: 0px;
  }
  #personas .col-md-7 {
    margin: 0px;
    padding: 0px;
  }
}

@media only screen and (min-width: 1440px) {
  header {
  text-align: unset;
  padding: 16px 40px;
  }
  header > nav > ul {
    magin: 0px;
  }
  nav > ul > li {
    display: inline-block;
  }
  .navtoggle li:not(:last-child) {
  display: inline-block;
  }
  .navtoggle li:last-child {
  display: none;
  }
  .header_container {
    width: auto;
  }
  .logo {
    margin-bottom: 0px;
    margin-right: 16px;
  }
  body {
    font-size: 20px
  }
  #hero_home {
    text-align: center;
    display: block;
  }
  #hero_home span{
    text-align: center;
    display: block;
  }
  #hero {
    text-align: center;
    display: block;
  }
  #hero span{
    text-align: center;
    display: block;
  }
  .container {
    padding: 40px 32px;
    display: inline-block;
  }
  #work h2 {
    text-align: left;
  }
  .col-md-8 {
  width: 66.66%;
  }
  .col-md-7 {
  width: 41.66%;
  }
  .col-md-6 {
  width: 50%;
  }
  .col-md-5 {
  width: 58.33%;
  }
  .col-md-4 {
  width: 33.33%;
  }
  .col-md-3 {
  width: 25%;
  }
  #about .col-md-8 {
  width: 66.66%;
  }
  #about .col-md-4 {
  width: 33.33%;
  }
  #skills-secondary .col-md-4 {
  width: 33.33%;
  }
  #research .col-md-8 {
  width: 66.66%;
  }
  #research .col-md-4 {
  width: 33.33%;
  }
  #personas .col-md-5 {
  width: 58.33%;
  }
  #personas .col-md-6 {
  width: 50%;
  }
  #projects .col-md-3 {
    width: 25%;
  }
  [class*="col-"] {
    float: left;
    padding: 0px 16px;
  }
  .row_for_columns::after {
    content: "";
    clear: both;
    display: table;
  }
  picture .persona {
    max-height: 166px;
    width: auto;
  }
  .center {
    padding: 16px;
    text-align: center;
    display: inline-block;
  }
  #card_col {
    display: inline-block;
  }
  .card {
    padding: 24px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #f2f2f2;
    box-shadow: 0px 0px 20px 0px rgb(221 221 221 / 50%);
  }
  .column6 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 100%;
  }
  .column8 {
    float: left;
    width: 60%;
    padding: 10px;
    height: 100%;
  }
  .column4 {
    float: left;
    width: 40%;
    padding: 10px;
    height: 100%;
  }
  #accessibility .column6 {
    float: left;
    width: 50%;
    padding: 48px 8px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #accessibility {
    display: inline-block;
  }
  #accessibility .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #accessibility .col-md-6 {
    padding: 0px;
    text-align: center;
  }
  #accessibility .center {
    padding: 0px;
  }
  #accessibility .center p {
    margin: 0px;
    font-weight: 500;
  }
  #about .double_buttons {
    align-items: left;
  }
  #about .double_buttons > ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
  }
  #about .double_buttons > ul > li {
    display: inline-block;
    padding: 8px;
    text-align: center;
  }
  #main_container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  #personas .col-md-5 {
    margin: 0px;
    padding: 0px;
  }
  #personas .col-md-7 {
    margin: 0px;
    padding: 0px;
  }
}
