/*
Colors used:
Primary Color (Purple): #853cff;
Secondary Color (Light Purple): #efddff;
Background (Light Grey): #f2f2f2;
Text (Black);
Hover (Blue): #17ddcd;
*/

* {
  box-sizing: border-box;
}
header {
  background-color: white;
  text-align: center;
  padding: 16px 16px;
  border-bottom: 2px solid #4a4a4a;
  position: relative;
  box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.5);
}
body {
  background-color: white;
  font-family: 'Lato', roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #black;
}
h1, h2, h3, h4 {
  line-height: 1.25;
  margin: 0
}
h1 {
  font-size: 3.052em;
  font-weight: 500;
  padding: 16px 0px 16px 0px;
}

h2 {
  font-size: 2.441em;
  font-weight: 500;
  padding: 0px 0px 16px 0px;
}

h3 {
  font-size: 1.953em;
  font-weight: 500;
}
h4 {
  font-size: 1.563em;
  font-weight: 500;
}
h5 {
  font-size: 1em;
  font-weight: 400;
}
button {
  font-size: 1em;
  font-weight: 400;
}
img {
  width: 100%;
}
footer{
  background-color:#853cff
}
a {
  color: #853cff;
  text-decoration: none;
}
a:hover {
  color: #17ddcd;
  text-decoration: underline;
}
a:visited {
  color: #853cff;
}
a:hover {
  color: #17ddcd;
  text-decoration: underline;
}
a:active {
  color: #853cff;
  text-decoration: underline;
}
a:hover,
a:focus {
  color: #17ddcd;
  text-decoration: underline;
}
.button {
  display: inline-block;
  background-color: #853cff;
  color: white;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  border-color: #853cff;
  border-bottom: 2px solid #853cff;
  border-top: 2px solid #853cff;
  border-left: 2px solid #853cff;
  border-right: 2px solid #853cff;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8;
  color: white;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button:visited {
  color: #ffffff;
}
.button:hover {
  color: white;
  text-decoration: none;
}
.button:active {
  opacity: 0.8;
  color: #efddff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button:hover,
.button:focus {
  color: white;
  text-decoration: none;
}
.button-secondary {
  display: inline-block;
  background-color: white;
  color: #853cff;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  border-color: #853cff;
  border-bottom: 2px solid #853cff;
  border-top: 2px solid #853cff;
  border-left: 2px solid #853cff;
  border-right: 2px solid #853cff;
  transition: 0.2s opacity;
}
.button-secondary:hover {
  opacity: 0.8;
  background-color: white;
  color: #853cff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button-secondary:visited {
  color: #853cff;
}
.button-secondary:hover {
  opacity: 0.8;
  background-color: white;
  color: #853cff;
  text-decoration: none;
}
.button-secondary:active {
  opacity: 0.8;
  background-color: white;
  color: #853cff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.button-secondary:hover,
.button-secondary:focus {
  color: #853cff;
  text-decoration: none;
  box-shadow: 1px 1px 8px darkgrey;
}
.links {
  color: white;
  font-weight: 400;
}
.links:visited {
  color: white;
}
.links:hover {
  color: #17ddcd;
  text-decoration: underline;
}
.links:hover {
  color: #17ddcd;
  text-decoration: underline;
}
.links:active {
  color: white;
  text-decoration: none;
}
.links:hover,
.links:focus {
  color: white;
  text-decoration: none;
}
nav {
  font-size: 1em;
  display: inline-block;
  max-width: 100%
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 16px;
  font-weight: 500;
  color: #4a4a4a;
}
.chips > ul {
  list-style-type: none;
  padding: 0;
}
.chips > ul > li {
  display: inline-block;
  padding: 0 10px;
  text-align: center;
  border-radius: 32px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
}
.double_buttons > ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.double_buttons > ul > li {
  display: inline-block;
  padding: 8px;
  text-align: center;
}
/* Layout styling */
.logo {
  max-width: 100%;
}
.icon {
  max-width: 32px;
}
.container {
  padding: 48px 16px;
  max-width: 100%;
}
#hero_home {
  background-color: #efddff;
}
#hero h1 {
  text-align: center;
  margin: 0;
}
#hero p {
  text-align: center;
}
#work h2 {
  text-align: center;
}
#related_case_studies h2 {
  text-align: center;
}
.center {
  text-align: center;
}
.copyright {
  text-align: center;
  color: white;
}
.chips_container {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  padding: 16px;
  box-shadow: 0px 0px 20px 0px rgb(221 221 221 / 50%);
}
.chip {
  display: inline-block;
  padding: 10px;
  border-radius: 32px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  text-align: center;
}
.overview_card {
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  box-shadow: 0px 0px 20px 0px rgb(221 221 221 / 50%);
}
.key_features_card {
  padding: 16px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  box-shadow: 0px 0px 20px 0px rgb(221 221 221 / 50%);
}
.groove_ux_card {
  padding: 16px;
  background-color: #efddff;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #853cff;
  box-shadow: 0px 0px 20px 0px rgb(221 221 221 / 50%);
}
.project_card {
  padding: 16px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  box-shadow: 0px 0px 20px 0px rgb(221 221 221 / 50%);
}
.project_card:hover {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #853cff;
  box-shadow: 2px 2px 8px darkgrey;
}
.overview_container {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  padding: 10px;
  box-shadow: 0px 0px 20px 0px rgb(221 221 221 / 50%);
}
#hero .button {
  display: inline-block;
}
#hero .button_secondary {
  display: inline-block;
}
#scope {
  background-color: #f2f2f2;
}
#design_process {
  background-color: #f2f2f2;
}
